$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

@font-face {
  font-family: yofont;
  src: url("/Tomato-eggs/fonts/iconfont.woff") format("woff"), url("/Tomato-eggs/fonts/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/Tomato-eggs/fonts/iconfont2.woff") format("woff"), url("/Tomato-eggs/fonts/iconfont2.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/Tomato-eggs/fonts/iconfont3.woff") format("woff"), url("/Tomato-eggs/fonts/iconfont3.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/Tomato-eggs/fonts/iconfont4.woff") format("woff"), url("/Tomato-eggs/fonts/iconfont4.ttf") format("truetype");
}

body {
	background-color: #fff !important;
}
